@tailwind base;

@layer base {
    img, svg, video, canvas, audio, iframe, embed, object {
      display: block;
      vertical-align: middle;
    }
    ul {
       @apply ps-6 list-disc list-inside
    }
    p {
      @apply mb-2
    }

    h2 {
        @apply my-2 text-2xl font-extrabold
    }

    h3 {
        @apply my-2 text-lg font-extrabold
    }

    h4 {
        @apply my-2 font-bold
    }

    a {
      @apply text-blue-600 hover:text-blue-800
    }

    img, video {
      max-width: 100%;
      height: auto;
    }

    body {
      background-image: url('../../public/img/royal_rumble.jpg');
      background-image: url('../../public/img/build_more_space_needles.png');
      background-size: 40%;
    }

    iframe {
      width: 100%;
      min-height: 80vh;
    }

    .container {
      max-width: 900px;
      overflow-x: scroll;
    }

    h1 {
      color: #333;
    }

}
